/* Styles for some special ui elements */


// Search box styles, ephemeral, in the top of modules column
#search-box {
    background-color: #EEE;
    width: 300px;
    padding: 3px;
    border: 1px solid #CCCCCC;
    height: 20px;
    border-radius: 50px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 15px;
}